<header>
  <nav>
    <ul class="left hide-on-med-and-down">
      <li><%= link_to 'Overview', todos_path %></li>
    </ul>

    <ul class="right hide-on-med-and-down">
      <li>Test</li>
    </ul>
  </nav>
</header>
